INSERT INTO `virtual_domains` (`id`,`name`) VALUES ('1', '{{ domain }}');

INSERT INTO `virtual_users` (`id`,`domain_id`,`password`,`email`) VALUES ('1', '1', ENCRYPT('{{ password }}', CONCAT('$6$', SUBSTRING(SHA(RAND()), -16))), '{{ user }}@{{ domain }}');
