INSERT INTO `virtual_domains` (`id`,`name`) VALUES ('1', '{{ mail_domain }}');

INSERT INTO `virtual_users` (`id`,`domain_id`,`password`,`email`) VALUES ('1', '1', ENCRYPT('{{ mail_user_password }}', CONCAT('$6$', SUBSTRING(SHA(RAND()), -16))), '{{ mail_user }}@{{ mail_domain }}');
